<header> <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"></header>
<div ="cotainer">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <% #image_tag @user.get_profile_image(100,100) %>
      <div>
        <tr>
          <th>name</th>
          <th><%= current_user.name %></th>
        </tr>
      </div>
      <div>
        <tr>
          <th>introduction</th>
          <th><%= current_user.introduction %></th>
        </tr>
      </div>
    <div class="col-3">
      <%=link_to edit_user_path(current_user.id),class:"btn btn-outline-secondary btn-block" do %>
      <i class="fa-solid fa-user-gear"></i>
      <% end %>
      <h2 class="mt-3">New book</h2>
      <%= form_with model: Book.new do |f| %>
      <tr>
        <td>Title</td>
        <%= f.text_field :title %>
        <td>Opinion</td>
        <%= f.text_area :body %>
      </tr>
        <%= f.submit 'Create Book' %>
      <% end %>
    </div>
    </div>
  </div>
</div>
